.view {
    position: fixed;
    z-index: 99;
    top: 0%;
    left: 50%;

    display: flex;
    align-items: center;

    width: 300px;
    height: 60px;
    padding-left: 20px;
    margin-top: 40px;

    border-radius: 10px;

    transform: translate(-50%, 0);
    animation-duration: 1s;
    animation-name: slidein;
}

.hidden {
    position: fixed;
    z-index: 99;
    top: 0%;
    left: 50%;

    display: flex;
    align-items: center;

    width: 300px;
    height: 60px;
    padding-left: 20px;
    margin-top: 40px;

    border-radius: 10px;

    transform: translate(-50%, 0);
    animation-duration: 1s;
    animation-name: slideout;
}

@keyframes slidein {
    from {
        top: -10%;
        opacity: 0;
    }

    to {
        top: 0%;
        opacity: 1;
    }
}

@keyframes slideout {
    from {
        top: 0%;
        opacity: 1;
    }

    to {
        top: -10%;
        opacity: 0;
    }
}

.help-text {
    display: inline-block;
    margin-left: 10px;

    font-size: 15px;
}

.icon {
    padding-top: 3px;
    font-size: 20px;
}
